/* Reset */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}

html {
font-size: 62.5%;
}

li {
list-style-type: none;
}

/* General design */

body {
  background-color: var(--secondary-color);
  background-image: url('./assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

h1 {
  font-family: "Climate Crisis", sans-serif;
  color: var(--secondary-color);
  font-size: 4rem;
  letter-spacing: 5%;
}

h2 {
  font-family: "Climate Crisis", sans-serif;
  color: var(--primary-color);
  font-size: 2.4rem;
  letter-spacing: 5%;
}

h3 {
  font-family: "Vina Sans", sans-serif;
  color: var(--white);
  font-size: 4rem;
  font-weight: 500;
}

p, span, label, .error {
  font-family: "Grandstander";
  color: var(--primary-color);
  font-size: 1.6rem;
}

label {
  font-weight: 500;
}

.error {
  color: var(--error-color);
}


button {
  border-style: none;
  font-family: "Grandstander";
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.action-button {
  height: 56px;
  background-color: var(--action-color);
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  padding-inline: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.action-button:hover {
  background-color: var(--white);
}

.secondary-action-button {
  height: 44px;
  background-color: var(--primary--on-primary);
  color: var(--white);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  padding-inline: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.secondary-action-button:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.tertiary-action-button {
  height: 56px;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  padding-inline: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tertiary-action-button:hover {
  background-color: var(--primary--on-primary);
  color: var(--white);
}

.remove-button {
  height: 44px;
  background-color: transparent;
  color: var(--error-color);
  font-weight: 600;
  border: 2px solid var(--error-color);
  border-radius: 16px;
  padding-inline: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.remove-button:hover {
  color: var(--white);
  background-color: var(--error-color);
}

.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  background: transparent;
}

.toggle-container {
  display: flex;
  align-items: center;
  width: 64px;
  height: 36px;
  border-radius: 99px;
  border: 2px solid var(--primary-color);
}

.toggle-circle {
  width: 28px;
  height: 28px;
  background-color: var(--primary-color);
  border-radius: 99px;
  margin-inline: 2px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.toggle-container-active {
  background-color: var(--primary-color);
}

.toggle-circle-active {
  transform: translateX(28px); /* déplace le cercle à droite */
  background-color: var(--action-color);
}

.fav-button {
  right: 0;
  background-size: contain;
  background-color: var(--white);
  repeat: no-repeat;
  height: 72px;
  width: 72px;
  border: 2px solid var(--primary-color);
  border-radius: 99px;
  transition: transform 0.3s ease-in-out;
}

.card-fav-button {
  position: absolute;
  top: -8px;
}

.fav-button:active {
  transform:scale(1.5);
}

.faved {
  transform: rotate(90deg);
  background-color: var(--action-color);
}

.back-button {
  height: 72px;
  width: 72px;
  repeat: no-repeat;
  border: 2px solid var(--primary-color);
  background-color: var(--primary--on-primary);
  border-radius: 99px;
  transition: all 0.3s ease; /* Ajoutez une transition fluide */
}

.back-button:hover {
  background-color: var(--white);
}

.back-button:hover img {
  content: url("./assets/images/arrow-left-hover.svg")
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: fit-content;
  padding: 24px;
}

.chip {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-inline: 16px;
  height: 32px;
  background-color: var(--white);
  color: var(--primary-color);
  border: 2px solid var(--primary-color); 
  border-radius: 99px;
}

.chip img {
  height: 16px;
}

input {
  height: 48px;
  padding-inline: 16px;
  border: 2px solid var(--primary--faded);
  font-family: "Grandstander";
  font-size: 1.6rem;
  color: var(--primary--faded);
  border-radius: 16px;
}

input:focus {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.input-error {
  background-color: var(--secondary--faded);
  color: var(--error-color);
  border: 2px solid var(--error-color);
}

.error {
  color: var(--error-color);
}

select {
  height: 48px;
  padding-inline: 16px;
  border: 2px solid var(--primary--faded);
  background: var(--white);
  font-family: "Grandstander";
  font-size: 1.6rem;
  color: var(--primary--faded);
  border-radius: 16px;
}

@media screen and (min-width: 1280px) { 
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 4.8rem;
  }

  p {
    font-size: 2rem;
  }
}