.recipe-card {
  position: relative;
  height: 100%;
}

.recipe-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 96px;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  border-radius: 32px;
  background-size: cover;
  repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.recipe-card__content:hover {
  transform: scale(1.03) rotate(2deg);
}

.triangle {
  height: 20px;
  width: 100%;
  margin-bottom: -2px;
  background: var(--primary-color);
  clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
}

.recipe-card__title {
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-color);
  padding: 24px;
  max-width: 100%;
  word-break: break-word;
}

@media screen and (min-width: 1280px) {
  .recipe-card__chip {
    height: 36px;
  }
}